.spoiler{ 
  color: black; 
  background-color:black;
}
.spoiler:hover { 
  background-color:white; 
  }
 .alignright {
    text-align: right;
    color: #24298f;
}

#address2 ul li{
	list-style:none;
	color: #24298f;
}
#address2{
	padding:50px 0;
}

HR {
	color:#808080;
	background:#808080;
	height:2px;
	border:none
}


element.style {
}
.call-out-text.call-out-text-success {
    color: #000;
    border: 1px solid #aab433;
    background-color: #e1e9c1;
}
.call-out-text {
    margin: 18px 0;
    padding: 15px;
    border-radius: 6px;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}